In [115]:
import pandas as pd

In [116]:
df = pd.read_csv(r'A:\aq\final_final.csv')

In [117]:
df.head()

,Unnamed: 0,activity_index,begin_time,end_time,parcel,person_id,begin_hour,end_hour,begin_hour_fraction,end_hour_fraction,parcelid,GEOID10,total_exposure
0,22,0,0,644,894122,100000_1,0,10,0.0,0.733333,894122.0,5.303300e+14,140.719005
1,80,0,0,600,895150,100002_2,0,10,0.0,0.000000,895150.0,5.303300e+14,390.684344
2,108,0,0,926,894122,100003_1,0,15,0.0,0.433333,894122.0,5.303300e+14,315.160713
3,109,0,0,533,894122,100003_2,0,8,0.0,0.883333,894122.0,5.303300e+14,94.990610
4,142,0,0,454,894694,100004_1,0,7,0.0,0.566667,894694.0,5.303300e+14,122.089218

In [118]:
# Join the exposure data to person information

In [119]:
person = pd.read_csv(r'_person.tsv', sep='\t')
hh = pd.read_csv(r'_household.tsv', sep='\t')

In [120]:
# Generate unique person ID field 
person['person_id'] = person['hhno'].astype('str') + '_' + person['pno'].astype('str')

In [121]:
# Create ID Field
df = pd.merge(df,person,on='person_id',how='left')

In [122]:
# Join hh info
df = pd.merge(df,hh,on='hhno',how='left')

In [123]:
# df.groupby('')
# df[['hhincome','total_exposure']].groupby('hhincome').sum()

In [124]:
# Create income classes 
df['inc_bin'] = pd.cut(df['hhincome'], bins=[0,10000,25000,50000,80000,150000,9999999], labels=['0-10,000','10,000-25,000','25,000-50,000',
                                                                             '50,000-80,000','80,000-150000','150,000+'])

In [125]:
# Add geography to files
# RGCs?

# RGC based on home location
rgc = pd.read_csv(r'L:\T2040\soundcast_2014\scripts\summarize\inputs\parcels_in_urbcens.csv')
df = pd.merge(df,rgc,left_on='hhparcel',right_on='hhparcel',how='left')

# Rates by where people work

# Join RGC based on work location
df = pd.merge(df, rgc, left_on='pwpcl', right_on='hhparcel', how='left',suffixes=['_hh_rgc','_work_rgc'])
# person['pwpcl']

In [126]:
df_positive = df[df['total_exposure'] > 0]

In [127]:
by_res_type = pd.DataFrame(df_positive.groupby('hrestype').sum()['total_exposure']/df_positive.groupby('hrestype').count()['person_id'])
# hh.columns

In [128]:
# 0?, 1: SFH, 2: Duplex, 3: Apartment, 4: Mobile home

# Average daily emissions total by residence type
by_res_type

                   0
hrestype
0         361.363629
1         186.305295
2         236.934635
3         133.277549
4         122.524655

In [129]:
by_inc = pd.DataFrame(df_positive.groupby('inc_bin').sum()['total_exposure']/df_positive.groupby('inc_bin').count()['person_id'])
# hh.columns

In [130]:
by_inc

                        0
inc_bin
0-10,000       187.131033
10,000-25,000  172.017726
150,000+       249.606826
25,000-50,000  179.424018
50,000-80,000  191.207512
80,000-150000  224.669787

In [131]:
by_rgc_home = pd.DataFrame(df_positive.groupby('NAME_hh_rgc').sum()['total_exposure']/df_positive.groupby('NAME_hh_rgc').count()['person_id'])
# hh.columns
# df.columns

In [132]:
by_rgc_home

                                          0
NAME_hh_rgc
Auburn                           107.845565
Bellevue                         136.484644
Bothell Canyon Park              209.132824
Bremerton                        158.024429
Burien                           128.463811
Everett                          188.424917
Federal Way                      119.446721
Kent                             202.206738
Kirkland Totem Lake              136.907196
Lakewood                         325.240604
Lynnwood                         198.689885
Puyallup Downtown                266.687860
Puyallup South Hill              337.386204
Redmond Downtown                 134.895711
Redmond-Overlake                 112.794210
Renton                           132.863264
SeaTac                           130.306315
Seattle Downtown                 128.382459
Seattle First Hill/Capitol Hill  137.537855
Seattle Northgate                125.955801
Seattle South Lake Union         143.482611
Seattle University Community     144.906434
Seattle Uptown                   114.073905
Silverdale                       172.224427
Tacoma Downtown                  297.821228
Tacoma Mall                      219.970524
Tukwila                           96.432528
University Place                 235.771844

In [133]:
by_rgc_work = pd.DataFrame(df_positive.groupby('NAME_work_rgc').sum()['total_exposure']/df_positive.groupby('NAME_work_rgc').count()['person_id'])

In [134]:
by_rgc_work

                                          0
NAME_work_rgc
Auburn                           126.667765
Bellevue                          53.213501
Bothell Canyon Park              236.999653
Bremerton                        303.624568
Burien                           134.522306
Everett                          132.810981
Federal Way                       12.399323
Kent                             243.465887
Kirkland Totem Lake              120.802497
Lakewood                         325.756609
Lynnwood                         152.222182
Puyallup Downtown                122.455315
Puyallup South Hill              657.249912
Redmond Downtown                 105.420948
Redmond-Overlake                  55.860961
Renton                           113.569955
SeaTac                           248.653469
Seattle Downtown                 155.652530
Seattle First Hill/Capitol Hill   96.853505
Seattle Northgate                110.177779
Seattle South Lake Union         112.358906
Seattle University Community     165.478209
Seattle Uptown                    84.412563
Silverdale                       114.863849
Tacoma Downtown                  347.539470
Tacoma Mall                      153.035581
Tukwila                           89.124516
University Place                 192.446234